fastapi
uvicorn[standard]
gunicorn
langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.38
langchain-google-genai
chromadb
google-search-results
requests
python-dotenv
pydantic
python-multipart
typing-extensions
