fastapi
uvicorn[standard]
gunicorn
langchain
langchain-core
langchain-google-genai
langchain-community
chromadb
google-search-results
requests
python-dotenv
pydantic
python-multipart
typing-extensions
